@CHARSET "UTF-8";

body {
	margin: 0em;
	padding: 0em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #877850;
	background: #97C1FF url(css_images/screen_copy.png) repeat-x fixed;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #887644;
}

a {
	color: #706443;
}

/* Button Style 2 */

.button-style2 a {
	display: inline-block;
	height: 2.60em;
	margin-top: 0em;
	padding: 0em 1.25em 0em 1.25em;
	background: #17375E;
	border-radius: 5px;
	line-height: 2.60em;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	font-size: 1em;
	color: #FFFFFF;
}

.button1 {
	display: inline-block;
	padding: 1em 1.25em 1em 1.25em;
	background-color: #F4E0E0;
	font-size: 1em;
	
	
}