<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.prac.core.prjbot.dao.BotDAO">
	<insert id="insertBotWordSave" parameterType="hashMap">
		/* bot.xml insertBotWordSave */
		INSERT INTO TBOT_WORD_SAVE
			 (REQ
			 ,RES
			 ,ROOM_NAME
			 ,USER_NAME
			 ,INSERT_DATE
			 ,LIMIT_YN)
		SELECT '/'||#{req, jdbcType=VARCHAR}
			  ,#{res, jdbcType=VARCHAR}
			  ,#{roomName, jdbcType=VARCHAR}
			  ,#{userName, jdbcType=VARCHAR}
			  ,SYSDATE
			  ,'0'
		  FROM DUAL
		 WHERE NOT EXISTS (SELECT * 
		 					 FROM TBOT_WORD_SAVE C 
		 					WHERE C.REQ = '/'||#{req, jdbcType=VARCHAR}
		 					  AND C.LIMIT_YN IN ('1','2'))
    </insert>
    
    <select id="selectBotWordSaveOne" parameterType="hashMap" resultType="String" >
		/* bot.xml selectBotWordSaveOne */
		SELECT RES
		  FROM (SELECT *
				FROM TBOT_WORD_SAVE A
			    WHERE A.REQ = #{param0, jdbcType=VARCHAR}
				 AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
			     AND A.LIMIT_YN = '0'
			    ORDER BY DBMS_RANDOM.VALUE)
		 WHERE ROWNUM = 1
	</select>
	
	<select id="selectBotLimitWordSaveAll" parameterType="hashMap" resultType="String" >
		 /* bot.xml selectBotLimitWordSaveAll */
		SELECT RES
		  FROM (SELECT '3' AS ORD
				    ,RES
				FROM (SELECT LISTAGG(A.REQ, ', ') WITHIN GROUP(ORDER BY A.REQ) || ' → ' || A.RES AS RES
					   FROM TBOT_WORD_SAVE A
					  WHERE A.LIMIT_YN = #{limitYn, jdbcType=VARCHAR}
					  GROUP BY A.RES
					  ORDER BY REQ))
		 ORDER BY ORD
		 
	</select>
	
	<select id="selectBotWordSaveAll" parameterType="hashMap" resultType="String" >
		 /* bot.xml selectBotWordSaveAll */
		SELECT RES
		  FROM (
			   SELECT '1' AS ORD
					  ,RES
				 FROM (SELECT A.REQ || ' → ' || LISTAGG(A.RES, ', ') WITHIN GROUP(ORDER BY A.RES) AS RES
					     FROM TBOT_WORD_SAVE A
					    WHERE A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
						  AND A.LIMIT_YN = '0'
					    GROUP BY A.REQ
					    ORDER BY REQ)
			   )
		 ORDER BY ORD
		 
	</select>
	
	<select id="selectBotImgSaveAll" parameterType="hashMap" resultType="String" >
		 /* bot.xml selectBotImgSaveAll */
		SELECT RES
		  FROM (SELECT '2' AS ORD
					  ,LISTAGG(B.IN_PRM, ', ') WITHIN GROUP(ORDER BY B.IN_PRM) || ' → ' || B.OUT_PRM AS RES
				  FROM TBOT_IMG_MCH B
				 WHERE (B.ROOM_NAME IS NULL OR B.ROOM_NAME = #{roomName, jdbcType=VARCHAR})
			     GROUP BY B.OUT_PRM)
		 ORDER BY ORD
		 
	</select>
	
	<select  id="selectBotWordSaveMasterCnt" parameterType="hashMap" resultType="int" >
		SELECT COUNT(1) 
		  FROM TBOT_WORD_SAVE_MASTER A
		 WHERE A.USER_NAME = #{userName, jdbcType=VARCHAR}
		   AND NVL(A.ROOM_NAME, #{roomName, jdbcType=VARCHAR}) = #{roomName, jdbcType=VARCHAR}
		
	</select>
	
	<delete id="deleteBotWordSaveMaster" parameterType="hashMap">
		/* bot.xml deleteBotWordSaveMaster */
		DELETE FROM TBOT_WORD_SAVE A
		 WHERE A.REQ = '/'||#{req, jdbcType=VARCHAR}
		   AND A.RES = #{res, jdbcType=VARCHAR}
		   AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
		   AND A.LIMIT_YN = '0'
	</delete>
	<delete id="deleteBotWordSave" parameterType="hashMap">
		/* bot.xml deleteBotWordSave */
		DELETE FROM TBOT_WORD_SAVE A
		 WHERE A.REQ = '/'||#{req, jdbcType=VARCHAR}
		   AND A.RES = #{res, jdbcType=VARCHAR}
		   AND (A.USER_NAME = #{userName, jdbcType=VARCHAR}
		        OR 
		        A.USER_NAME IN (SELECT B.NAME_A
								  FROM TBOT_NAME_MCH B
								 WHERE B.NAME_B = #{userName, jdbcType=VARCHAR}
								)
				)
		   AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
		   AND A.LIMIT_YN = '0'
	</delete>
	
	<select id="selectBotImgSaveOne" parameterType="String" resultType="String" >
		/* bot.xml selectBotImgSaveOne */
		SELECT RES
		  FROM TBOT_IMG_SAVE A
	     WHERE A.REQ = #{param, jdbcType=VARCHAR}
	</select>
	
	<insert id="insertBotImgSaveOne" parameterType="hashMap">
		/* bot.xml insertBotImgSaveOne */
		INSERT INTO TBOT_IMG_SAVE
			 (REQ
			 ,RES
			 )
		SELECT #{asis, jdbcType=VARCHAR}
			  ,#{tobe, jdbcType=VARCHAR}
		  FROM DUAL
    </insert>
    
    <select id="selectBotImgMch" parameterType="hashMap" resultType="String" >
		/* bot.xml selectBotImgMch */
		SELECT A.OUT_PRM
		  FROM TBOT_IMG_MCH A
		 WHERE A.IN_PRM = #{param0, jdbcType=VARCHAR}
		   AND (A.ROOM_NAME IS NULL OR A.ROOM_NAME = #{roomName, jdbcType=VARCHAR})
	</select>
	
	<select id="selectBotRaidSaveAll" parameterType="hashMap" resultType="String" >
		 /* bot.xml selectBotRaidSaveAll */
		SELECT A.CHAR_NAME
		  FROM TBOT_RAID_SAVE A
		 WHERE A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
	</select>
	<insert id="insertBotRaidSaveOne" parameterType="hashMap">
		/* bot.xml insertBotRaidSaveOne */
		INSERT INTO TBOT_RAID_SAVE
			 (ROOM_NAME
			 ,CHAR_NAME
			 )
		SELECT #{roomName, jdbcType=VARCHAR}
			  ,#{param1, jdbcType=VARCHAR}
		  FROM DUAL
    </insert>
    <select id="selectSupporters" parameterType="String" resultType="int" >
		 /* bot.xml selectSupporters */
		SELECT COUNT(1)
		  FROM TBOT_SUPPORTERS A
		 WHERE A.USER_ID = #{param1, jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectBotImgCharSave" parameterType="String" resultType="String" >
		/* bot.xml selectBotImgSaveOne */
		SELECT RES
		  FROM TBOT_IMG_CHAR_SAVE A
	     WHERE A.REQ = #{req, jdbcType=VARCHAR}
	       AND ROWNUM = 1
	</select>
	
	<insert id="insertBotImgCharSave" parameterType="hashMap">
		/* bot.xml insertBotImgSaveOne */
		INSERT INTO TBOT_IMG_CHAR_SAVE
			 (CHAR_NAME
			 ,REQ
			 ,RES
			 )
		SELECT #{char_name, jdbcType=VARCHAR}
		      ,#{req, jdbcType=VARCHAR}
			  ,#{res, jdbcType=VARCHAR}
		  FROM DUAL
    </insert>
	
</mapper>