<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.prac.core.prjbot.dao.BotDAO">
	<insert id="insertBotWordSave" parameterType="hashMap">
		/* bot.xml insertBotWordSave */
		INSERT INTO TBOT_WORD_SAVE
			 (REQ
			 ,RES
			 ,ROOM_NAME
			 ,USER_NAME
			 ,INSERT_DATE
			 ,LIMIT_YN)
		SELECT '/'||#{req, jdbcType=VARCHAR}
			  ,#{res, jdbcType=VARCHAR}
			  ,#{roomName, jdbcType=VARCHAR}
			  ,#{userName, jdbcType=VARCHAR}
			  ,SYSDATE
			  ,'0'
		  FROM DUAL
		 WHERE NOT EXISTS (SELECT * 
		 					 FROM TBOT_WORD_SAVE C 
		 					WHERE C.REQ = '/'||#{req, jdbcType=VARCHAR}
		 					  AND C.LIMIT_YN = '1')
    </insert>
    
    <select id="selectBotWordSaveOne" parameterType="hashMap" resultType="String" >
		/* bot.xml selectBotWordSaveOne */
		SELECT RES
		  FROM (SELECT *
				FROM TBOT_WORD_SAVE A
			    WHERE A.REQ = #{param0, jdbcType=VARCHAR}
				 AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
			     AND A.LIMIT_YN = '0'
			    ORDER BY DBMS_RANDOM.VALUE)
		 WHERE ROWNUM = 1
	</select>
	
	<select id="selectBotWordSaveAll" parameterType="hashMap" resultType="String" >
		 /* bot.xml selectBotWordSaveAll */
		SELECT RES
		  FROM (
			   SELECT '1' AS ORD
					  ,RES
				 FROM (SELECT A.REQ || ' => ' || LISTAGG(A.RES, ', ') WITHIN GROUP(ORDER BY A.RES) AS RES
					     FROM TBOT_WORD_SAVE A
					    WHERE A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
						  AND A.LIMIT_YN = '0'
					    GROUP BY A.REQ
					    ORDER BY REQ)
			   UNION
			   SELECT '2'
					  ,LISTAGG(B.IN_PRM, ', ') WITHIN GROUP(ORDER BY B.IN_PRM) || ' => ' || B.OUT_PRM
				 FROM TBOT_IMG_MCH B
			    GROUP BY B.OUT_PRM)
		 ORDER BY ORD
		 
	</select>
	
	<delete id="deleteBotWordSaveMaster" parameterType="hashMap">
		/* bot.xml deleteBotWordSaveMaster */
		DELETE FROM TBOT_WORD_SAVE A
		 WHERE A.REQ = '/'||#{req, jdbcType=VARCHAR}
		   AND A.RES = #{res, jdbcType=VARCHAR}
		   AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
		   AND A.LIMIT_YN = '0'
	</delete>
	<delete id="deleteBotWordSave" parameterType="hashMap">
		/* bot.xml deleteBotWordSave */
		DELETE FROM TBOT_WORD_SAVE A
		 WHERE A.REQ = '/'||#{req, jdbcType=VARCHAR}
		   AND A.RES = #{res, jdbcType=VARCHAR}
		   AND (A.USER_NAME = #{userName, jdbcType=VARCHAR}
		        OR 
		        A.USER_NAME IN (SELECT B.NAME_A
								  FROM TBOT_NAME_MCH B
								 WHERE B.NAME_B = #{userName, jdbcType=VARCHAR}
								)
				)
		   AND A.ROOM_NAME = #{roomName, jdbcType=VARCHAR}
		   AND A.LIMIT_YN = '0'
	</delete>
	
	<select id="selectBotImgSaveOne" parameterType="String" resultType="String" >
		/* bot.xml selectBotImgSaveOne */
		SELECT RES
		  FROM TBOT_IMG_SAVE A
	     WHERE A.REQ = #{param, jdbcType=VARCHAR}
	</select>
	
	<insert id="insertBotImgSaveOne" parameterType="hashMap">
		/* bot.xml insertBotImgSaveOne */
		INSERT INTO TBOT_IMG_SAVE
			 (REQ
			 ,RES
			 )
		SELECT #{asis, jdbcType=VARCHAR}
			  ,#{tobe, jdbcType=VARCHAR}
		  FROM DUAL
    </insert>
    
    <select id="selectBotImgMch" parameterType="String" resultType="String" >
		/* bot.xml selectBotImgMch */
		SELECT A.OUT_PRM
		  FROM TBOT_IMG_MCH A
		 WHERE A.IN_PRM = #{param0, jdbcType=VARCHAR}
	</select>
</mapper>