<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.prac.core.prjbot.dao.BotS3DAO">

	<!-- =====================================================
	     [S3 헬보스] 현재 활성 보스 조회 (TBOT_POINT_NEW_BOSS)
	     - ROOM_NAME 없음: 전역 공유 보스
	     ===================================================== -->
	<select id="selectHellBoss" resultType="HashMap">
		SELECT SEQ
		     , CUR_HP
		     , CUR_HP_EXT
		     , MAX_HP
		     , MAX_HP_EXT
		     , REWARD
		     , ATK_RATE
		     , ATK_POWER
		     , DEF_RATE
		     , DEF_POWER
		     , EVADE_RATE
		     , CRIT_DEF_RATE
		     , DEBUFF
		     , DEBUFF1
		     , DEBUFF2
		     , HIDE_RULE
		     , to_char(INSERT_DATE, 'yyyymmdd hh24miss') AS START_DATE
		  FROM (
		    SELECT SEQ
		         , CUR_HP
		         , CUR_HP_EXT
		         , MAX_HP
		         , MAX_HP_EXT
		         , REWARD
		         , ATK_RATE
		         , ATK_POWER
		         , DEF_RATE
		         , DEF_POWER
		         , EVADE_RATE
		         , CRIT_DEF_RATE
		         , DEBUFF
		         , DEBUFF1
		         , DEBUFF2
		         , HIDE_RULE
		         , INSERT_DATE
		      FROM TBOT_POINT_NEW_BOSS
		     WHERE END_YN = '0'
		     ORDER BY INSERT_DATE DESC
		  )
		 WHERE ROWNUM = 1
	</select>

	<!-- =====================================================
	     [S3 헬보스] HP 업데이트 (낙관적 잠금)
	     - PROC_DATE: S1의 MODIFY_DATE에 해당
	     ===================================================== -->
	<update id="updateHellBoss" parameterType="HashMap">
		UPDATE TBOT_POINT_NEW_BOSS
		   SET CUR_HP     = #{newHp,    jdbcType=NUMERIC}
		     , CUR_HP_EXT = #{newHpExt, jdbcType=VARCHAR}
		     , END_YN     = #{endYn,    jdbcType=VARCHAR}
		     , PROC_DATE  = SYSDATE
		     <if test="heavensPunishment == 1">
		     , DEBUFF = DEBUFF + 10
		     </if>
		     <if test="useDebuff == 1">
		     , DEBUFF = DEBUFF - 1
		     </if>
		     <if test="debuff1_start == 1">
		     , DEBUFF1 = DEBUFF1 + 5
		     </if>
		     <if test="useDebuff1 == 1">
		     , DEBUFF1 = DEBUFF1 - 1
		     </if>
		 WHERE SEQ    = #{seq, jdbcType=NUMERIC}
		   AND CUR_HP  = #{hp, jdbcType=NUMERIC}
		   AND END_YN = '0'
	</update>

	<!-- =====================================================
	     [S3 헬보스] 보스 재생성 INSERT (처치 후 자동 부활)
	     - 능력치는 컨트롤러에서 랜덤 산정 후 전달
	     ===================================================== -->
	<insert id="insertHellBoss" parameterType="HashMap">
		INSERT INTO TBOT_POINT_NEW_BOSS
		    (SEQ
		    ,INSERT_DATE
		    ,END_YN
		    ,ATK_RATE
		    ,ATK_POWER
		    ,DEF_RATE
		    ,DEF_POWER
		    ,EVADE_RATE
		    ,CRIT_DEF_RATE
		    ,DEBUFF
		    ,DEBUFF1
		    ,DEBUFF2
		    ,REWARD
		    ,MAX_HP
		    ,MAX_HP_EXT
		    ,CUR_HP
		    ,CUR_HP_EXT
		    ,HIDE_RULE)
		SELECT NVL(MAX(SEQ), 0) + 1
		      ,TO_DATE(#{startDate, jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
		      ,'0'
		      ,#{atkRate,     jdbcType=NUMERIC}
		      ,#{atkPower,    jdbcType=NUMERIC}
		      ,#{defRate,     jdbcType=NUMERIC}
		      ,#{defPower,    jdbcType=NUMERIC}
		      ,#{evadeRate,   jdbcType=NUMERIC}
		      ,#{critDefRate, jdbcType=NUMERIC}
		      ,0
		      ,0
		      ,0
		      ,0
		      ,#{maxHp,       jdbcType=NUMERIC}
		      ,#{maxHpExt,    jdbcType=VARCHAR}
		      ,#{maxHp,       jdbcType=NUMERIC}
		      ,#{maxHpExt,    jdbcType=VARCHAR}
      ,#{hideRule,   jdbcType=VARCHAR}
		  FROM TBOT_POINT_NEW_BOSS
	</insert>

	<!-- =====================================================
	     [S3 헬보스] 공격 로그 INSERT (TBOT_POINT_NEW_BATTLE_LOG, S2 형식)
	     - NIGHTMARE_YN='2', TARGET_MON_LV=999 고정 (헬보스 식별)
	     ===================================================== -->
	<insert id="insertHellBattleLog" parameterType="HashMap">
		INSERT INTO TBOT_POINT_NEW_BATTLE_LOG
		    (USER_NAME
		    ,ROOM_NAME
		    ,LV
		    ,TARGET_MON_LV
		    ,GAIN_EXP
		    ,ATK_DMG
		    ,MON_DMG
		    ,ATK_CRIT_YN
		    ,MON_PATTEN
		    ,KILL_YN
		    ,NOW_YN
		    ,DROP_YN
		    ,DEATH_YN
		    ,LUCKY_YN
		    ,BUFF_YN
		    ,JOB_SKILL_YN
		    ,JOB
		    ,NIGHTMARE_YN)
		VALUES
		    (#{userName, jdbcType=VARCHAR}
		    ,#{roomName, jdbcType=VARCHAR}
		    ,#{lv, jdbcType=NUMERIC}
		    ,999
		    ,0
		    ,#{atkDmg, jdbcType=NUMERIC}
		    ,#{monDmg, jdbcType=NUMERIC}
		    ,#{atkCritYn, jdbcType=VARCHAR}
		    ,'0'
		    ,#{killYn, jdbcType=VARCHAR}
		    ,'0'
		    ,'0'
		    ,'0'
		    ,'0'
		    ,'0'
		    ,'0'
		    ,#{job, jdbcType=VARCHAR}
		    ,'2')
	</insert>

	<!-- =====================================================
	     [S3 헬보스] 전체 기여도 조회 (표시용)
	     ===================================================== -->
	<select id="selectHellTop3Contributors" parameterType="HashMap" resultType="HashMap">
		SELECT sum(cnt) over() as tot_cnt, A.*
		  FROM (
		    SELECT user_name
		         , count(user_name)  as cnt
		         , SUM(atk_dmg)      AS score
		      FROM TBOT_POINT_NEW_BATTLE_LOG
		     WHERE nightmare_yn  = '2'
		       AND target_mon_lv = 999
		       AND atk_dmg       > 0
		       AND insert_date   >= to_date(#{bossStartDate}, 'yyyymmdd hh24miss')
		     GROUP BY user_name
		     ORDER BY SUM(atk_dmg) DESC
		  ) A
		 WHERE ROWNUM &lt;= 20
	</select>

	<!-- =====================================================
	     [S3 헬보스] 보상 대상 기여도 조회 (7000번대 미소지자만)
	     ===================================================== -->
	<select id="selectHellEligibleContributors" parameterType="HashMap" resultType="HashMap">
		SELECT sum(cnt) over() as tot_cnt, A.*
		  FROM (
		    SELECT user_name
		         , count(user_name)  as cnt
		         , SUM(atk_dmg)      AS score
		      FROM TBOT_POINT_NEW_BATTLE_LOG b
		     WHERE nightmare_yn  = '2'
		       AND target_mon_lv = 999
		       AND atk_dmg       > 0
		       AND insert_date   >= to_date(#{bossStartDate}, 'yyyymmdd hh24miss')
		       AND NOT EXISTS (
		           SELECT 1
		             FROM TBOT_POINT_NEW_INVENTORY i
		            WHERE i.user_name        = b.user_name
		              AND i.item_id          BETWEEN 7000 AND 7999
		              AND NVL(i.del_yn, '0') = '0'
		       )
		     GROUP BY user_name
		     ORDER BY count(user_name) DESC
		  ) A
		 WHERE ROWNUM &lt;= 20
	</select>

	<!-- =====================================================
	     [S3 헬보스] 마지막 처치된 보스 조회 (리워드 표시용)
	     ===================================================== -->
	<select id="selectLastKilledHellBoss" resultType="HashMap">
		SELECT SEQ
		     , MAX_HP
		     , MAX_HP_EXT
		     , START_DATE
		     , END_DATE
		  FROM (
		    SELECT SEQ
		         , MAX_HP
		         , MAX_HP_EXT
		         , to_char(INSERT_DATE, 'yyyymmdd hh24miss') AS START_DATE
		         , to_char(PROC_DATE,   'yyyymmdd hh24miss') AS END_DATE
		      FROM TBOT_POINT_NEW_BOSS
		     WHERE END_YN = '1'
		     ORDER BY PROC_DATE DESC
		  )
		 WHERE ROWNUM = 1
	</select>

	<!-- =====================================================
	     [S3 헬보스] 마지막 보상 수령자 조회 (TBOT_POINT_NEW_INVENTORY)
	     ===================================================== -->
	<select id="selectLastHellRewardRecipient" resultType="HashMap">
		SELECT USER_NAME
		     , ITEM_ID
		     , REWARD_DATE
		  FROM (
		    SELECT USER_NAME
		         , ITEM_ID
		         , to_char(INSERT_DATE, 'mm/dd hh24:mi') AS REWARD_DATE
		      FROM TBOT_POINT_NEW_INVENTORY
		     WHERE GAIN_TYPE        = 'BOSS_HELL'
		     ORDER BY INSERT_DATE DESC
		  )
		 WHERE ROWNUM = 1
	</select>

</mapper>
