<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.prac.core.prjuser.dao.UserDAO">
	<!-- 회원가입을 위한 insert -->
	<insert id="insert" parameterType="my.prac.core.dto.Users">
		INSERT INTO TUSER
					(USER_ID
				    ,USER_PASS
					,USER_NAME
					,USER_EMAIL
					,USER_PHONE
					,USER_NICK
					,INSERT_DATE)
		     VALUES (UPPER(#{userId})
				    ,#{userPass}
				    ,#{userName}
				    ,#{userEmail}
				    ,#{userPhone}
				    ,#{userNick}
				    ,sysdate)
	</insert>

	<!-- 로그인 기능 -->
	<select id="selectById" resultType="my.prac.core.dto.Users" parameterType="String">
		select * from Tuser where user_id = UPPER(#{userId})
	</select>

	<!-- id찾기 기능 이름&Email로 id만 찾음 -->
	<select id="selectByNameAndEmail" resultType="String" parameterType="Map">
		select user_id from Tuser where user_name = #{userName}
		and user_email = #{userEmail}
	</select>

	<!-- 비번찾기 기능 id&이름&Email로 비번만찾음 -->
	<select id="selectPass" resultType="String" parameterType="Map">
		select user_pass from Tuser where
		user_id =UPPER(#{userId}) and
		user_name =
		#{userName} and
		user_email = #{userEmail}
	</select>

	<!-- 정보수정 기능 비번/연락처/이메일/닉네임 변경기능 -->
	<update id="updateUser" parameterType="Map">
		update Tuser set
		user_pass=#{userPass}
		,user_phone=#{userPhone}
		,user_email=#{userEmail}
		,user_nick=#{userNick} where user_id=UPPER(#{userId})
	</update>
	
	<!-- 임시비밀번호로 비밀번호 바꿔주기 -->
	<update id="updatePass" parameterType="Map">
		update Tuser set
		user_pass=#{userPass}
		where user_id=UPPER(#{userId})
	</update>

	<select id="checkId" parameterType="String" resultType="int">
		select
		count(user_id) from Tuser where user_id=UPPER(#{userId})
	</select>
	<select id="checkNick" parameterType="String" resultType="int">
		select
		count(user_nick) from Tuser where user_nick=#{userNick}
	</select>
	<select id="searchNickById" parameterType="String" resultType="String">
		select user_nick from Tuser where user_id=UPPER(#{userId})
	</select>
	
	<insert id="insertUsertracking" parameterType="Map">
        insert into TUSERTRACKING ( /* UsersMapper.xml : my.prac.core.prjuser.dao.UserRepo.insertUsertracking */ 
             USER_ID,
             IP_ADDR,
             SESSION_ID,
             COMMAND,
             PROGRAM_ID,
             INSERT_DATE )
          values (
             upper(#{userId, jdbcType=VARCHAR}),
             null,
             null,
             null,
             #{programId, jdbcType=VARCHAR},
             sysdate)
    </insert>

	<update id="updateLastLoginDate" parameterType="Map">
        update TUSER  /* UsersMapper.xml : updateLastLoginDate */ 
           set last_login_date = sysdate 
         where user_id = #{userId, jdbcType=VARCHAR}
    </update>

	<!-- [2026-10-08] 게시판 카카오 로그인. 처음이면 USER_ID='K'+카카오ID로 등록, 이미 있으면(관리자 매핑 포함) 닉네임/마지막 로그인만 갱신. -->
	<update id="mergeBoardKakaoMember" parameterType="Map">
		MERGE INTO TBOARD_KAKAO_MEMBER T
		USING (SELECT #{kakaoId, jdbcType=VARCHAR} AS KAKAO_ID FROM DUAL) S
		   ON (T.KAKAO_ID = S.KAKAO_ID)
		WHEN MATCHED THEN
		    UPDATE SET T.NICKNAME = #{nickname, jdbcType=NVARCHAR, typeHandler=my.prac.core.util.NCharStringTypeHandler}, T.LAST_LOGIN = SYSDATE
		WHEN NOT MATCHED THEN
		    INSERT (KAKAO_ID, USER_ID, NICKNAME, REG_DATE, LAST_LOGIN)
		    VALUES (#{kakaoId, jdbcType=VARCHAR}, 'K' || #{kakaoId, jdbcType=VARCHAR},
		            #{nickname, jdbcType=NVARCHAR, typeHandler=my.prac.core.util.NCharStringTypeHandler}, SYSDATE, SYSDATE)
	</update>

	<select id="selectBoardKakaoUserId" parameterType="String" resultType="String">
		SELECT USER_ID FROM TBOARD_KAKAO_MEMBER WHERE KAKAO_ID = #{kakaoId, jdbcType=VARCHAR}
	</select>
</mapper>