<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--  서버기동시 쓸데없는 정보를 비노출하기 위함 .. https://www.mkyong.com/logging/how-to-stop-logback-status-info-at-the-start-of-every-log/ -->
 	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
 	
    <!-- appender :: console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender :: info
         [2026-09-10] "info.YYYY-MM-DD.log가 로테이션/보관기간 없이 매일 쌓여서 디스크를
         계속 잡아먹는다, info를 저장 안 하게 해달라" 요청.
         1) ThresholdFilter로 이 파일엔 WARN 이상만 쓰도록 함(INFO는 더 이상 파일로 저장
            안 됨. console 쪽엔 그대로 INFO가 나가므로 콘솔/catalina.out으로 실시간
            확인하는 용도는 안 바뀜, 이 appender만 조용해짐).
         2) 그래도 WARN/ERROR가 무한정 쌓이는 걸 막기 위해 maxHistory(30일)/totalSizeCap
            (500MB) 보관기간·용량 상한도 같이 추가(기존엔 둘 다 없었음, 그게 근본 원인). -->
    <appender name="info-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/console_logs/info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/console_logs/info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <!-- 로컬서버 기동시 각 인포정보를 나오지 않도록 처리 .... resultsettable,sqlonly 만 나오도록 처리함       https://nakanara.tistory.com/79 -->
    <logger name="jdbc.audit" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile"/>
	</logger>
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile"/>
	</logger>
	
	<logger name="jdbc.resultset" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile"/>
	</logger>
	
	<logger name="jdbc.connection" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile"/>
	</logger>
	<logger name="ch.qos.logback.classic.LoggerContext[default]" additivity="false">
		<level value="OFF" />
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile"/>
	</logger>
	<logger name="org.springframework">
        <level value="OFF" />
    </logger>
	<logger name="jdbc.resultsettable" additivity="false">
        <level value="off" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/>
    </logger>
    
	<!-- root -->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="info-appender"/>        
    </root>
</configuration>









    <!-- appender :: sql -->
    <!-- 
    <appender name="sql-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/open-api/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/open-api/sql.%d{yyyy-MM-dd}.log</fileNamePattern>            
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>    
 	-->
    <!-- appender :: Request Parameter -->
    <!-- 
    <appender name="parameter-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/open-api/parameter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/open-api/parameter.%d{yyyy-MM-dd}.log</fileNamePattern>            
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>    
     -->
    <!-- appender :: 11번가 Log -->
    <!-- 
    <appender name="pa11st-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/open-api/pa11st.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/open-api/pa11st.%d{yyyy-MM-dd}.log</fileNamePattern>            
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>
     -->
    <!-- appender :: G마켓 Log -->
    <!-- <appender name="pagmkt-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/open-api/pagmkt.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/open-api/pagmkt.%d{yyyy-MM-dd}.log</fileNamePattern>            
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender> -->
    
    <!-- appender :: G마켓v2 Log -->
    <!-- 
    <appender name="pagmktv2-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/open-api/pagmktv2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/open-api/pagmkt.%d{yyyy-MM-dd}.log</fileNamePattern>            
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>
    </appender>
     -->
    <!-- SQL logger -->
    
    <!-- 
    <logger name="jdbc.resultsettable" additivity="false">
        <level value="off" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <level value="warn" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/> 
    </logger>
    <logger name="jdbc.resultset" additivity="false">
        <level value="warn" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/> 
    </logger>
    
    <logger name="jdbc.sqltiming" additivity="false">
        <level value="off" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/> 
    </logger>
    <logger name="jdbc.connection" additivity="false">
        <level value="warn" />
        <appender-ref ref="console" />
        <appender-ref ref="sql-appender"/> 
    </logger>

    3rdparty Loggers
    <logger name="org.springframework">
        <level value="error" />
    </logger>
	 -->
    <!-- Netshopping -->
     <!-- 
    <logger name="com.cware" additivity="false">
        <level value="debug" />
        <appender-ref ref="console"/>
        <appender-ref ref="info-appender"/>
    </logger>    
 	-->
    <!-- 11번가 logger --> 
    <!-- 
    <logger name="com.cware.api.pa11st.controller" additivity="false">
        <level value="info" />
        <appender-ref ref="console"/>
        <appender-ref ref="pa11st-appender"/>
    </logger>
     -->
    <!-- G마켓 logger -->
    <!-- <logger name="com.cware.api.pagmkt.controller" additivity="false">
        <level value="info" />
        <appender-ref ref="console"/>
        <appender-ref ref="pagmkt-appender"/>
    </logger> -->
    <!-- G마켓v2 logger -->
    <!-- 
    <logger name="com.cware.api.pagmktv2.controller" additivity="false">
        <level value="info" />
        <appender-ref ref="console"/>
        <appender-ref ref="pagmktv2-appender"/>
    </logger>
     -->
    