<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
        <setting name="cacheEnabled" value="true"/>
	  	<setting name="callSettersOnNulls" value="true"/>
	  	<setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
	
	<mappers>
	<mapper resource="mybatis/mapper2.0/UsersMapper.xml" />
	<mapper resource="mybatis/mapper2.0/CommentsMapper.xml" />
	<mapper resource="mybatis/mapper2.0/ShareMapper.xml" />
	<mapper resource="mybatis/mapper2.0/TestMapper.xml" />
	<mapper resource="mybatis/mapper2.0/Game1Mapper.xml" />
	<mapper resource="mybatis/mapper2.0/SystemMapper.xml" />
	<mapper resource="mybatis/mapper2.0/BotMapper.xml" />
	</mappers>

</configuration>