@media screen and (max-width: 1680px) {
	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 900px;
	}
	.container.\37 5\25 {
		width: 900px;
	}
	.container.\35 0\25 {
		width: 600px;
	}
	.container.\32 5\25 {
		width: 300px;
	}
	.container {
		width: 1200px;
	}
	.row>* {
		padding: 200px 0 0 0;
	}
	.row {
		margin: -48px 0 -1px -48px;
	}
	.row.uniform>* {
		padding: 48px 0 0 48px;
	}
	.row.uniform {
		margin: -48px 0 -1px -48px;
	}
	.row.\32 00\25 >* {
		padding: 96px 0 0 96px;
	}
	.row.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 96px 0 0 96px;
	}
	.row.uniform.\32 00\25 {
		margin: -96px 0 -1px -96px;
	}
	.row.\31 50\25 >* {
		padding: 72px 0 0 72px;
	}
	.row.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 72px 0 0 72px;
	}
	.row.uniform.\31 50\25 {
		margin: -72px 0 -1px -72px;
	}
	.row.\35 0\25 >* {
		padding: 24px 0 0 24px;
	}
	.row.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 24px 0 0 24px;
	}
	.row.uniform.\35 0\25 {
		margin: -24px 0 -1px -24px;
	}
	.row.\32 5\25 >* {
		padding: 12px 0 0 12px;
	}
	.row.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 12px 0 0 12px;
	}
	.row.uniform.\32 5\25 {
		margin: -12px 0 -1px -12px;
	}
	.\31 2u\28wide\29,.\31 2u\24\28wide\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28wide\29,.\31 1u\24\28wide\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28wide\29,.\31 0u\24\28wide\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28wide\29,.\39 u\24\28wide\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28wide\29,.\38 u\24\28wide\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28wide\29,.\37 u\24\28wide\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28wide\29,.\36 u\24\28wide\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28wide\29,.\35 u\24\28wide\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28wide\29,.\34 u\24\28wide\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28wide\29,.\33 u\24\28wide\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28wide\29,.\32 u\24\28wide\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28wide\29,.\31 u\24\28wide\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28wide\29 +*,.\31 1u\24\28wide\29 +*,.\31 0u\24\28wide\29 +*,
		.\39 u\24\28wide\29 +*,.\38 u\24\28wide\29 +*,.\37 u\24\28wide\29 +*,
		.\36 u\24\28wide\29 +*,.\35 u\24\28wide\29 +*,.\34 u\24\28wide\29 +*,
		.\33 u\24\28wide\29 +*,.\32 u\24\28wide\29 +*,.\31 u\24\28wide\29 +* {
		clear: left;
	}
	.\-11u\28wide\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28wide\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28wide\29 {
		margin-left: 75%;
	}
	.\-8u\28wide\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28wide\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28wide\29 {
		margin-left: 50%;
	}
	.\-5u\28wide\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28wide\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28wide\29 {
		margin-left: 25%;
	}
	.\-2u\28wide\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28wide\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 1280px) {
	#nav {
		display: none;
	}
	.moba {
		display: none;
	}
	.login_check_div {
		/* transform: scale(1.5); */
		
	}
	.row>* {
		padding: 150px 0 0 0;
	}
	.row {
		margin: -36px 0 -1px -36px;
	}
	.row.uniform>* {
		padding: 36px 0 0 36px;
	}
	.row.uniform {
		margin: -36px 0 -1px -36px;
	}
	.row.\32 00\25 >* {
		padding: 72px 0 0 72px;
	}
	.row.\32 00\25 {
		margin: -72px 0 -1px -72px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 72px 0 0 72px;
	}
	.row.uniform.\32 00\25 {
		margin: -72px 0 -1px -72px;
	}
	.row.\31 50\25 >* {
		padding: 54px 0 0 54px;
	}
	.row.\31 50\25 {
		margin: -54px 0 -1px -54px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 54px 0 0 54px;
	}
	.row.uniform.\31 50\25 {
		margin: -54px 0 -1px -54px;
	}
	.row.\35 0\25 >* {
		padding: 18px 0 0 18px;
	}
	.row.\35 0\25 {
		margin: -18px 0 -1px -18px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 18px 0 0 18px;
	}
	.row.uniform.\35 0\25 {
		margin: -18px 0 -1px -18px;
	}
	.row.\32 5\25 >* {
		padding: 9px 0 0 9px;
	}
	.row.\32 5\25 {
		margin: -9px 0 -1px -9px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 9px 0 0 9px;
	}
	.row.uniform.\32 5\25 {
		margin: -9px 0 -1px -9px;
	}
	.\31 2u\28normal\29,.\31 2u\24\28normal\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28normal\29,.\31 1u\24\28normal\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28normal\29,.\31 0u\24\28normal\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28normal\29,.\39 u\24\28normal\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28normal\29,.\38 u\24\28normal\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28normal\29,.\37 u\24\28normal\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28normal\29,.\36 u\24\28normal\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28normal\29,.\35 u\24\28normal\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28normal\29,.\34 u\24\28normal\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28normal\29,.\33 u\24\28normal\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28normal\29,.\32 u\24\28normal\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28normal\29,.\31 u\24\28normal\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28normal\29 +*,.\31 1u\24\28normal\29 +*,
		.\31 0u\24\28normal\29 +*,.\39 u\24\28normal\29 +*,
		.\38 u\24\28normal\29 +*,.\37 u\24\28normal\29 +*,
		.\36 u\24\28normal\29 +*,.\35 u\24\28normal\29 +*,
		.\34 u\24\28normal\29 +*,.\33 u\24\28normal\29 +*,
		.\32 u\24\28normal\29 +*,.\31 u\24\28normal\29 +* {
		clear: left;
	}
	.\-11u\28normal\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28normal\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28normal\29 {
		margin-left: 75%;
	}
	.\-8u\28normal\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28normal\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28normal\29 {
		margin-left: 50%;
	}
	.\-5u\28normal\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28normal\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28normal\29 {
		margin-left: 25%;
	}
	.\-2u\28normal\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28normal\29 {
		margin-left: 8.33333%;
	}
}

@media screen and (max-width: 960px) {
	.row>* {
		padding: 32px 0 0 32px;
	}
	.row {
		margin: -32px 0 -1px -32px;
	}
	.row.uniform>* {
		padding: 32px 0 0 32px;
	}
	.row.uniform {
		margin: -32px 0 -1px -32px;
	}
	.row.\32 00\25 >* {
		padding: 64px 0 0 64px;
	}
	.row.\32 00\25 {
		margin: -64px 0 -1px -64px;
	}
	.row.uniform.\32 00\25 >* {
		padding: 64px 0 0 64px;
	}
	.row.uniform.\32 00\25 {
		margin: -64px 0 -1px -64px;
	}
	.row.\31 50\25 >* {
		padding: 48px 0 0 48px;
	}
	.row.\31 50\25 {
		margin: -48px 0 -1px -48px;
	}
	.row.uniform.\31 50\25 >* {
		padding: 48px 0 0 48px;
	}
	.row.uniform.\31 50\25 {
		margin: -48px 0 -1px -48px;
	}
	.row.\35 0\25 >* {
		padding: 16px 0 0 16px;
	}
	.row.\35 0\25 {
		margin: -16px 0 -1px -16px;
	}
	.row.uniform.\35 0\25 >* {
		padding: 16px 0 0 16px;
	}
	.row.uniform.\35 0\25 {
		margin: -16px 0 -1px -16px;
	}
	.row.\32 5\25 >* {
		padding: 8px 0 0 8px;
	}
	.row.\32 5\25 {
		margin: -8px 0 -1px -8px;
	}
	.row.uniform.\32 5\25 >* {
		padding: 8px 0 0 8px;
	}
	.row.uniform.\32 5\25 {
		margin: -8px 0 -1px -8px;
	}
	.\31 2u\28narrow\29,.\31 2u\24\28narrow\29 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}
	.\31 1u\28narrow\29,.\31 1u\24\28narrow\29 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 0u\28narrow\29,.\31 0u\24\28narrow\29 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\39 u\28narrow\29,.\39 u\24\28narrow\29 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}
	.\38 u\28narrow\29,.\38 u\24\28narrow\29 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\37 u\28narrow\29,.\37 u\24\28narrow\29 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\36 u\28narrow\29,.\36 u\24\28narrow\29 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}
	.\35 u\28narrow\29,.\35 u\24\28narrow\29 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\34 u\28narrow\29,.\34 u\24\28narrow\29 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\33 u\28narrow\29,.\33 u\24\28narrow\29 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}
	.\32 u\28narrow\29,.\32 u\24\28narrow\29 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}
	.\31 u\28narrow\29,.\31 u\24\28narrow\29 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}
	.\31 2u\24\28narrow\29 +*,.\31 1u\24\28narrow\29 +*,
		.\31 0u\24\28narrow\29 +*,.\39 u\24\28narrow\29 +*,
		.\38 u\24\28narrow\29 +*,.\37 u\24\28narrow\29 +*,
		.\36 u\24\28narrow\29 +*,.\35 u\24\28narrow\29 +*,
		.\34 u\24\28narrow\29 +*,.\33 u\24\28narrow\29 +*,
		.\32 u\24\28narrow\29 +*,.\31 u\24\28narrow\29 +* {
		clear: left;
	}
	.\-11u\28narrow\29 {
		margin-left: 91.66667%;
	}
	.\-10u\28narrow\29 {
		margin-left: 83.33333%;
	}
	.\-9u\28narrow\29 {
		margin-left: 75%;
	}
	.\-8u\28narrow\29 {
		margin-left: 66.66667%;
	}
	.\-7u\28narrow\29 {
		margin-left: 58.33333%;
	}
	.\-6u\28narrow\29 {
		margin-left: 50%;
	}
	.\-5u\28narrow\29 {
		margin-left: 41.66667%;
	}
	.\-4u\28narrow\29 {
		margin-left: 33.33333%;
	}
	.\-3u\28narrow\29 {
		margin-left: 25%;
	}
	.\-2u\28narrow\29 {
		margin-left: 16.66667%;
	}
	.\-1u\28narrow\29 {
		margin-left: 8.33333%;
	}
	/* Basic */
	body, input, textarea, select {
		font-size: 14pt;
		line-height: 1.75em;
	}

	/* Carousel */
	.carousel {
		padding: 1.5em 0 1.5em 0;
	}
	.carousel .reel {
		padding: 0 1.5em 0 1.5em;
	}
	.carousel article {
		width: 18em;
		margin: 0 1.25em 0 0;
	}
}