

@media (max-width: 480px) {
	#nav {
		display: none;
	}
	.moba {
		display: none;
	}
	input#replyRegist {
		width: 100%;
	}
	.sliderContainer {
		width: auto
	}
	.boardSection {
		display: none;
	}
	input#listview.boardButtonStyle2 {
		width: 20%;
	}
	input.writeBoard {
		width: 20%;
	}
	input#searchBtn {
		width: 20%;
	}
	li input.boardButtonStyle1 {
	    width: 50%;
	}
	#footerBodyPart ul li {
    	font-size: 12px;
	}
}