

@media screen and (max-width: 640px) {

	#fancyHeader nav a[href="#fancyMenu"] {
		width: 4em;
		white-space: nowrap;
		text-indent: 4em;
		position: relative;
		display: none;
	}

	#fancyHeader nav a[href="#fancyMenu"]:before {
		width: inherit;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: 0;
		text-align: right;
		margin-left: 0;
		padding-right: 1.25em;
	}
	.boardSection {
		display: none;
	}
	

}