div {
	display: inline-block;
}
section {
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
}

div.label {
	display: flex;
}

div > a > img {
	width:100%;
	max-width: 120px;
}

div > a > input {
	width:100%;
	max-width: 120px;
}

div > p {
	white-space: normal;
	width:100%;
	max-width: 120px;
}

section#section {
	border: solid 1px red;
}
section#chattings{
	position: absolute;
	display: inline;
	top : 420px;
	font-size: 13px;
}
.space {
	width: 400px;
	height: 400px;
	border: solid 1px red;
	position: absolute;
	font-size: 11px;
}

img {
	display: block;
}
