div {
  position: fixed;
  width: 10px;
  height: 10px;
}

#center {
  background: black;
}

#point {
  background: red;
}

#center2 {
  background: black;
}
#center2_2 {
  background: blue;
}
#point2 {
  background: red;
}

button{
 display: inline-block;
}