p {
	display: inline-block;
}
#output{
	display: inline-block;
}

div {
	position: absolute;
	width: 10px;
	height: 10px;
	display: inline;
}

section#section {
	border: solid 1px red;
}
#section_detect {
	top: 400px;
	position: absolute;
}
#section_detect table {
	display: inline-block;
}
.detect{
	font-size: 10px;	
}

section#description {
	position: relative;
}

.space {
	width: 400px;
	height: 400px;
	border: solid 1px red;
	position: absolute;
}


.chat {
	width: 200px;
	height: 30px;
	border: solid 1px green;
	position: absolute;
}

.enemy {
	display: none;
	background: black;
	width: 20px;
	height: 20px;
	top : 600px;
	left : 600px;
	z-index: 9;
}

.life {
	background: red;
	width: 20px;
	height: 20px;
	top : 600px;
	left : 600px;
	z-index: 9;
}

.item {
	background: green;
	width: 20px;
	height: 20px;
	top : 600px;
	left : 600px;
	z-index: 9;
}

.boss {
	display: none;
	background: black;
	width: 95px;
	height: 300px;
	top : 200px;
	left : 600px;
	z-index: 2;
	/* margin: 1px; */
}

.twingkle {
	/* border: dashed 1px #720000; */
	/* margin: 0px; */
	/* border만큼의 magin*/  
	opacity :0.7;
	
}

#char_heat {
	/* border: 2px dashed; */
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: black; 
}

#char_angle {
	width: 100%;
	height: 10%;
	background-color: black; 
}

#char {
	width: 30px; /* img width - margin *2 */
	height: 15px; /* img height - margin *2 */
	margin: 10px; /*heatbox 판정*/
	
}

#charimg{
	width: 75px;
	height: 127px;
	z-index: 0;
	position: absolute;
	/* border: 1px dashed; */
}
#weapon, .weapon, .weapon_size{
	position : inherit;
	width: 20px;
	height: 63px;
	z-index: 0;
}

.weapon_range, #weaponimg {
	display: none;
	position : inherit;
	width: 60px;
	height: 63px;
	z-index: 0;
	transform: rotate(180deg);
}

#weapon_motion, #weapon_motionimg{
	width: 60px;
	height: 127px; /*캐릭터 높이만큼 공격 */
	/* border: 1px dashed; */
}


#point2 {
	background: red;
}


input[type=button] {
	width: 100px;
	height: 20px;
	margin: 10 0 0 0;
	text-align: left;
}

section#controll{
	position: absolute;
	display: inline;
	top : 400px;
	font-size: 13px;
}

section#chattings{
	position: absolute;
	display: inline;
	top : 550px;
	font-size: 13px;
}

#desc{
	top : 400px;
	padding-top: 50px;
	
}
strong{
	font-size: 14px;
	color: red;
}

table.rank {
	margin:auto;
	/* margin-top: 15px;
	margin-right: 15px; */
	border: solid 1px black;
	width: 100%;
}

table.rank tr td {
	
	text-align: center;
	background: #FFFFFF;
	color: #000000;
	border: solid 2px yellowgreen;
	text-align: left;
}

#score_max{
	color: red;
}


#sp_gauge{
    z-index: 2;
    position: relative;
    width: 100px;
}

.char_chat{
	border: 1px solid black;
	background: white;
	width: 20px;
	height: 20px;
	
}

.bullet {
	background: red;
	width: 5px;
	height: 5px;
	
}

#bomb1, #bomb1_img {
	width: 400px;
	height: 400px;
	z-index: -9;
}
