
table#space {
	margin-top: 15px;
	margin-right: 15px;
	border: solid 1px black;
}

table#space tr td {
	text-align: center;
	background: #FFEEFF;
	color: #FFFFFF;
}


table#space tr td.destination {
	background: #0000FB;
}

table#space tr td.position {
	background: black;
}

table#space tr td.rock {
	background: gray;
}

table#space tr td.over {
	background: #72FF00;
}

center {
	padding: 2em;
}


table#rank{
	margin: 0px;
	padding: 0px;
	border: solid 1px gray;
}
table#rank tr td{
	text-align: left;
}

div#rank_table.hide {
	display : none;
}
