#circle1 {
	background-color: #86efef;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	vertical-align: middle;
	line-height: 150px;
}

#circle2 {
	background-color: #0009;
	border: 1px solid #ff0000;
	width: 100px;
	height: 100px;
	border-radius: 75px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	line-height: 100px;

}

#circle3 {
	background-color: #0009;
	border: 1px solid #ff0000;
	width: 10px;
	height: 10px;
	border-radius: 75px;
	text-align: center;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	line-height: 100px;
}