
section#section_space{
	text-align: center;
	margin:auto;
	
}
table#space {
	margin:auto;
	/* margin-top: 15px;
	margin-right: 15px; */
	border: solid 1px black;
}

table#space tr td {
	
	text-align: center;
	background: #FFEEFF;
	color: #FFFFFF;
	border: solid 2px #FFFFFF;
}


table#space tr td.destination {
	background: #0000FB;
}

table#space tr td.position {
	background: black;
}

table#space tr td.rock {
	background: #BDBDBD;
}

table#space tr td.twingkle {
	border: dashed 2px #720000;  
	/* background: #720000; */
}

section#section_direction{
	/* 방향지시 박스의 위치 */
	text-align: center;
}

button.direction{
	/* display: inline-block; */
	margin-top: 15px;
	margin-right: 15px;
	border: solid 1px black;
	background: #FFFFCB;
}

center {
	padding: 2em;
}


table#rank{
	margin: 0px;
	padding: 0px;
	border: solid 1px gray;
}
table#rank tr td{
	text-align: left;
}

div#rank_table.hide {
	display : none;
}
